#login {
  font-size:10px; 
  text-align: left; 
  position:absolute; 
  top: 40%; 
  left: 50%; 
  margin-top: -100px; 
  margin-left: -150px;
}

#login_error {
  color: red;
  font-size: 12px;
}

#mutationImage {
  max-width:100%; 
  height:auto;
}